body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*Mobile Styling*/
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  h1#generalTitle{
	font-size: 24px !important;
	line-height: 28px !important;
  }

  h5#generalSubTitle{
  	font-size: 12px;
	line-height: 14px;
  }

  h2.formHeader {
  	display: none !important;
  }

  label.mobileLable {
  	font-size: 14px !important;
	line-height: 16px !important;
  }
  
  div.mobileNav {
  	border-radius: 5px !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px !important;
    padding: 10px !important;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  h1#generalTitle {
	font-size: 24px !important;
	line-height: 28px !important;
  }

  h5#generalSubTitle{
  	font-size: 12px !important;
	line-height: 14px !important;
  }

  h2.formHeader {
  	display: none !important;
  }

  label.mobileLable {
  	font-size: 14px !important;
	line-height: 16px !important;
  }
  

  div.mobileNav {
  	border-radius: 5px !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px !important;
    padding: 10px !important;
  }
  
}


/*Home page form*/
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /*custom css*/
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /*custom css*/
  
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /*custom css*/
  
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /*custom css*/
  
  
}